.universe,
.sector,
.parsec,
.artefact {
	outline : none;
}

.universe.sector:hover {
	outline : 1px dashed green;
}

.sector.parsec:hover {
	outline : 1px dashed orange;
}

.parsec.artefact:hover {
	outline : 1px dashed red;
}

.universe.sector.parsec, 
.universe.sector.parsec.artefact,
.sector.parsec.artefact {
	outline : none;
}


.universe.sector.parsec.artefact.bg0{
/*	background-image : url('../images/bg0.jpg');*/
	background-color : #000000;
}

.universe.sector.parsec.artefact.bg1{
	background-image : url('../images/bg1.jpg');
}

.universe.sector.parsec.artefact.bg2{
	background-image : url('../images/bg2.jpg');
}

.universe.sector.parsec.artefact.bg3{
	background-image : url('../images/bg3.jpg');
}

.universe.sector.parsec.artefact.bg4{
	background-image : url('../images/bg4.jpg');
}

.gui {
	border : 1px solid black;
	height: 800px;
	display : inline-block;
}

.actionMenu {
	width : 200px;
	margin-left: 24px;
}

.map {
	width : 800px;
}