[submodule "module-dev/ZfcCrud"]
	path = module-dev/ZfcCrud
	url = https://github.com/Hounddog/ZfcCrud.git
[submodule "module-dev/RestCrudDoctrineModule"]
	path = module-dev/RestCrudDoctrineModule
	url = https://github.com/Hounddog/RestCrudDoctrineModule.git
[submodule "module-dev/ZfcUserAdmin"]
	path = module-dev/ZfcUserAdmin
	url = https://github.com/Hounddog/ZfcUserAdmin.git
[submodule "module-dev/ZfcCrudDoctrine"]
	path = module-dev/ZfcCrudDoctrine
	url = https://github.com/Hounddog/ZfcCrudDoctrine.git
